# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Resend
RESEND_API_KEY=

# Notificações internas
NOTIFICATION_EMAIL=

# Google Tag Manager
NEXT_PUBLIC_GTM_ID=

# WhatsApp
NEXT_PUBLIC_WHATSAPP_NUMBER=

# App
NEXT_PUBLIC_SITE_URL=https://zapbox.cloud
